label {
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: #9DD9D2 8px 8px 8px;
}

@media screen and (max-width: 1500px) {
    label {
        flex-direction: column;
        width: 100%;
    }
}